<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f8650f2e71.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
<!--Input form part  -->
        <h1>TODO List</h1>
        <form action="/add_todo" method="post">
            <div id="discription">
                <label for="work">Description</label>
                <input type="text" name="todo" placeholder="What do you need to do?"required>
            </div>
            <div id="catDate">
                <div id="category">
                    <label>Category</label><br>
                    <select name="category" required>
                    <option value="personal">Personal</option>
                    <option value="shopping">Shopping</option>
                    <option value="wishlist">Wishlist</option>
                    <option value="work">Work</option>
                    </select>
                </div>
                <div id="date">
                    <label>Due Date</label><br>
                    <input id="datePicker"type="date" name="date">
                </div>
            </div>
            <div id="add">
                <button value="submit">
                    <i class="far fa-plus-square"></i> Add Task.
                </button>
            </div>
        </form>
<!-- list Display part -->
        <ul>
            <% for(let i of todo_list){ %>
                <li id="listItems">
                    <input type="checkbox">
                    <div>
                        <label id="task"><%=i.description%></label><br>
                        <p><i class="far fa-calendar">
                        </i><%if(i.duedate!=''){%>
                            <%=i.duedate%>
                        <% }else {%>
                            <%="NO DueDate" %> 
                        <% } %> 
                        </p>
                    </div>
                    <div id="catdel">
                        <div id="cattext">
                            <p >
                                <%=i.category%>
                            </p>
                        </div>
                        <a id="deleteBtn" href="/delete_todo/<%=i._id%>">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>    
                </li>
            <%} %> 
        </ul>
    </div>
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>